<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>글목록</title>
    <style>
        .class1{
        display:inline-block;
        width:20px;
        height:20px
        boarder-radius:20%;
        background-color:#f00;
        color:#fff;
        text-align:center;
        linde-height:20px;
    background-color:#ccc
    }

.class2{
    background-color:#f00;
}
    </style>
</head>
<body>
<div>
<span th:text="${total}"> </span> <br>
                <!--boardList.getTotalElements-->
<span th:text="${boardList.totalElements}"> </span>
</div>
    <table border="1">
    <tr>
        <th>번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>내용</th>
        <th>조회수</th>
        <th>작성시간</th>
        <th>조회</th>
    </tr>
    <tr th:each="list : ${boardList}">
        <td th:text="${list.id}">1</td>
        <td th:text="${list.title}">1</td>
        <td th:text="${list.writer}">1</td>
        <td th:text="${list.content}">1</td>
        <td th:text="${list.hit}">1</td>
        <td th:text="${list.createTime}">1</td>
        <td><a th:href="@{|/board/detail/${list.id}|}">조회</a></td>
    </tr>
    <tr>
        <td colspan="8">
            <a href="" th:href="@{/board/index}">HOME</a>
            <a href="" th:href="@{/board/write}">글쓰기</a>
            <a href="" th:href="@{/board/list}">글목록</a>
            <a href="" th:href="@{/board/pagingList}">글목록(pageging)</a>
        </td>
    </tr>
    <tr>
        <td colspan="76"> <!--첫번째 페이지에서 이전으로 갈 때 true='#' 첫번째 페이지 아니면 -1 -->
            <a th:href="${boardList.first} ? '#' : @{/board/pagingList2(page=${boardList.number-1})} ">이전</a>

            <th:block th:each="page : ${#numbers.sequence(startPage,endPage)}">
               <span th:if="${page == nowPage}"th:text="${page}" th:classappend="class1"></span>
                <span th:unless="${page == nowPage}">
                <a th:href="@{/board/pagingList2(page=${page-1})} "th:text="${page}"></a>
                </span>

            </th:block>


            <a th:href="${boardList.last} ? '#' : @{/board/pagingList2(page=${boardList.number+1})}">다음</a>



        </td>
    </tr>


</table>
<div>



</div>
</body>
</html>